/* CSS placed here will be applied to all skins */
/* <source lang="css">/* */
div.Boxmerge,
div.NavFrame { margin:0px; padding:4px; border:1px solid #aaaaaa; text-align:center; border-collapse:collapse; font-size:95%; }
div.Boxmerge div.NavFrame { border-style:none; border-style:hidden; }
div.NavFrame + div.NavFrame { border-top:0px; }
div.NavPic { background-color:#ffffff; margin:0em; padding:2px; float:left; }
div.NavFrame div.NavHead { height:1.6em; font-weight:bold; background-color:#ccccff; position:relative; }
div.NavFrame div.NavHead:hover { background-color:#aaaaff; }
div.NavFrame p { font-size:100%; }
div.NavFrame div.NavContent { font-size:100%; }
div.NavFrame div.NavContent p { font-size:100%; }
div.NavEnd { margin:0px; padding:0px; line-height:1px; clear:both; }
a.NavToggle { position:absolute; top:0px; right:3px; font-weight:normal; font-size:smaller; }
.collapseButton { float:right; font-weight:normal; text-align:right; width:auto; }

/* </source> */
